.container{
    width:70%;
    margin:auto;
    text-align: center;
}
.dice{
    text-align: center;
    display: inline-block;
}
body{
    background-color: #393E46;
}

h1{
    margin: 30px;
    font-family: 'lobster',cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #4ECCA3;
}
p{
    font-size: 1rem;
    color: #4ECCA3;
    font-family: 'Indie Flower',cursive;
}
img{
    width: 80%;
}
img:hover{
    cursor:pointer;
}
footer{
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower',cursive;
}
.btn{
    height: 30px;
    width: 130px;
    border-radius: 5px;
    border-style: none;
}
.btn-primary{
    background-color: #4ECCA3;
}
.btn:hover{
    background-color: #4ECCf9;
    cursor: pointer;
}